<div class="page-header" id="show_sites">

    <div class="panel panel-default">
        <div class="panel-heading">
            Available Sites
        </div>
        <div class="panel-body">
            <table id="sitestable" class="table dataTable">
                <thead>
                    <tr>
                        <th>Site ID</th>
                        <th>Site Description</th>
                        <th>DSU ID</th>
                        <th>DSU Description</th>
                        <th>DSU Op Cert</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
                <tfoot>
                    <tr>
                        <th>Site ID</th>
                        <th>Site Description</th>
                        <th>DSU ID</th>
                        <th>DSU Description</th>
                        <th>DSU Op Cert</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

</div>